/**
This skin is the property of its owner and should not be duplicated or
reproduced with the express written consent of the author. Edits to this skin
are permissible if the original credits stay intact.

Author: David VanScott [ davidv@anodyne-productions.com ]
File: skins/default/style.css
Purpose: Stylesheet that controls the look and feel of the site

Skin Version: 2.5
Last Modified: 2008-02-20 1412 EST
**/

/*
	import the different other stylesheets
	these imports are ESSENTIAL for the system to be displayed correctly
*/
@import url( "style-login.css" ); /* the login styles */
@import url( "style-ui.tabs.css" ); /* jQuery-UI tabs stylesheet */
@import url( "style-clickmenu.css" ); /* personalized menu styles */
@import url( "style-misc.css" ); /* miscellaneous styles */

body {
	background-color: #000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: .8em;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* styles that control the main block containing the rest of the system */
#container {
	width: 100%;
	margin: auto;
}

/* styles that control the top and bottom spacers */
#headerTopSpacer { height: 20px; }
#container .footerBottomSpacer { height: 30px; }

/* the template header */
#header {
	width: 100%;
	height: 110px;
	margin: auto;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	background: #090909 url( 'images/header.png' ) no-repeat top left;
}



/** main navigation **/
#container .mainNav {
	background: #000;
	height: 25px;
	line-height: 25px; /* ie doesn't like line height, so we have to use the height as well */
	margin: .5em 0 0 2em;
	width: 60%;
}
#nav-main {
	display: inline;
	margin: 0;
	padding: 0;
	float: left; /* this makes sure that the drop down sits to the right of the main nav */
}
#nav-main li {
	display: inline;
	list-style: none;
}
#nav-main li.spacer {
	padding: 2px 0 0 0;
}
#nav-main li a {
	font-weight: bold;
	color: #fff;
	padding: 0 1em 0 1em;
}
#nav-main li a:hover {
	color: #5b5a4f;
}



/* the content of the template */
#container .content {
	padding: 0 2em 0 2em;
}

/* the body of the content class where the text is found */
#container .content .body {
	margin-right: 20%;
	padding: 1em 0 1em 1em;
}

/* the side navigation menu */
#container .content .nav {
	float: right;
	width: 18%;
	font-size: 8.5pt;
	padding: 1.5em 0 1em 0;
	text-align: right;
}
#container .content .nav ul {
	display: block;
	margin: 0;
	padding: .5em .2em 1em 0;
}
#container .content .nav ul li {
	list-style-type: none;
}
#container .content .nav a {
	padding: 0 .5em 0 0;
}

/* part of the nav menu ... controls the login display */
#container .content .nav .login a {
	padding: 0;
}

/*
	part of the nav menu ... controls the info below the menu
	that's shown in the main section (latest posts, mission, etc.)
*/
#container .content .nav .info {
	padding: 0 1em 0 2em;
}
#container .content .nav .info .fontLarge {
	margin: 0 -.5em 0 0;
}
#container .content .nav .info a {
	margin: 0 -.5em 0 0;
}

/* the footer */
#container .footer {
	background: #090909;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	text-align: center;
	clear: both;
	font-size: .8em;
	height: 25px;
	line-height: 25px;
	color: #fff;
}

#mainNav, #userNav {
	background: #000;
	text-align: center;
	height: 25px;
	line-height: 25px;
	width: 100%;
}
#mainNav ul, #userNav ul {
	display: inline;
	margin: 0;
	padding: 0;
}
#mainNav ul li, #userNav ul li {
	display: inline;
	list-style-type: none;
}
#mainNav ul li.spacer, #userNav ul li.spacer {
	padding-top: 2px;
}
#mainNav a, #userNav a {
	font-weight: bold;
	color: #fff;
	padding: 0 1em 0 1em;
}
#mainNav a:hover, #userNav a:hover {
	color: #5b5a4f;
}