body {
	background-color: #000;
	color: #efefef;
	font-family: "Lucida Grande", "Lucida Console Sans", sans-serif;
	font-size: 11px;
}

#install {
	background-color: #090909;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #111;
}

/* header styles */
.header { text-align: center; }
.header-install {
	width: 90%;
	margin: 1em auto 0 auto;
	text-align: center;
	height: 70px;
	line-height: 70px;
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	border-right: 1px solid #111;
}
.header-install h1 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

#install h1 { font-size: 20pt; }

#install .full { padding: 1em; }
#install .left {
	float: left;
	width: 20%;
}
#install .right {
	margin-left: 20%;
	background-color: #000;
	padding: 1em 1em 1em 3em;
	min-height: 230px;
	border-left: 1px solid #111;
}

#install ul {}
#install ul li { list-style-type: square; }

#install .left ul {
	margin: 0 0 0 10px;
	padding: 1em 0;
}
#install .left ul li {
	list-style-type: none;
	display: block;
	padding: 10px 15px;
	clear: both;
	line-height: 32px;
	color: #333;
}
#install .left ul li.active {
	background-color: #000;
	color: #fff;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	border-left: 1px solid #111;
	margin-right: -1px;
}

.step-image {
	float: left;
	padding-right: 10px;
}

/* footer styles */
.footer {
	text-align: center;
	font-size: 80%;
	padding: 2em 0;
}

.installButton {
	font-size: 1.8em;
	background: #000;
	border: 1px solid #888;
}

input, textarea {
	background: #000;
	border: 1px solid #686868;
	color: #999;
	margin: 1px;
	padding: 3px;
}
input:focus, textarea:focus {
	background: #000;
	border: 1px solid #b2b2b2;
	color: #fff;
}
textarea {
	font-family: "Lucida Grande", "Verdana", sans-serif;
	font-size: .8em;
}
.text {
	font-size: .8em;
}
.label {
	text-align: right;
	width: 25%;
	font-weight: bold;
}
select {
	background-color: #000;
	border: 1px solid #666;
	color: #f1f1f1;
	padding: .2em .2em .2em 0;
	font-size: 8.5pt;
}
.code {
	width: 98%;
	color: #fff;
	font-weight: bold;
	padding: .5em;
	background-color: #0d0d0d;
	border: 1px solid #222;
}
.red { color: #cc0000; }
.red b { color: #fff; }

table { font-size: 100%; }

.fontLarge {
	font-size: 150%;
	font-weight: bold;
}

.bold { font-weight: bold; }
.yellow { color: yellow; }