/**
This skin is the property of its owner and should not be duplicated or
reproduced with the express written consent of the author. Edits to this skin
are permissible if the original credits stay intact.

Author: David VanScott [ davidv@anodyne-productions.com ]
File: skins/default/style-subnav.css
Purpose: Stylesheet that controls the tabs and sub-navigation of SMS

Skin Version: 2.0
Last Modified: 2007-08-13 1158 EST
**/

#subnav {
	float: left;
	width: 100%;
	line-height: normal;
	position: relative;
}
#subnav ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}
#subnav li {
	float: left;
	background: url( "images/tabs/left.jpg" ) no-repeat left top;
	margin: 0 0 0 -1px;
	padding: 0 0 0 4px;
	font-size: 90%;
}
#subnav a {
	float: left;
	display: block;
	background: url( "images/tabs/right.jpg" ) no-repeat right top;
	padding: 5px 15px 3px 12px;
	text-decoration: none;
	font-weight: bold;
	color: #f1f1f1;
}
#subnav a:hover {
	color: #9ea3ad;
}

#subnav #current {
	background-image: url( "images/tabs/left_on.jpg" );
}
#subnav #current a {
	background-image: url( "images/tabs/right_on.jpg" );
	color: #f1f1f1;
	padding-bottom: 4px;
	bottom: -1px;
}

.tabcontainer {
	float: left;
	width: 97%;
	border: 1px solid #222;
	padding: 0 1em 1em 1em;
	margin: -1px 0 1em 0;
	z-index: 1;
}

.subMenu {
	height: 20px;
	line-height: 20px;
	background-color: #0d0d0d;
	margin: 0 -1.15em 1em -1.2em;
	font-size: 90%;
	border: 1px solid #222;
}
.subMenu ul {
	margin: 0;
	padding: 0;
}
.subMenu ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}
.subMenu ul li a {
	display: block;
	padding: 0 1em 0 1em;
}