body {
	background-color: #000;
	font-family: "Lucida Grande", "Verdana", Arial, sans-serif;
	font-size: 12px;
	color: #efefef;
}

#mainNav {
	margin: 1em auto;
	width: 75%;
	line-height: 25px;
	height: 25px;
}

/* Subsection Tabs
--------------------*/
#mainNav ul#tab_group_one {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	border-bottom:1px solid #222;
	height:15px;
	clear:both;
}
#mainNav ul#tab_group_one li {
	float:left;
	margin-right:7px;
	text-align:center;
	font-size: 80%;
}
#mainNav ul#tab_group_one li a {
	display:block;
	line-height:15px;
	height:15px;
	padding:0 4px 0 4px;
	background-color:#000;
	color:#666;
	text-decoration: none;
	font-weight: bold;
}
#mainNav ul#tab_group_one li a:hover {
	color:#666;
}
#mainNav ul#tab_group_one li a.active {
	background-color:#0d0d0d;
}

/* Subsections
--------------------*/
#mainNav #global ul,
#mainNav #user ul
{
	margin: .5em 0;
	padding: 0;
}
#mainNav #global ul li,
#mainNav #user ul li
{
	margin: 0;
	padding: 0 2.5em 0 0;
	float: left;
	list-style-type: none;
}
#mainNav #global ul li a,
#mainNav #user ul li a
{
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#mainNav #global ul li a:hover,
#mainNav #user ul li a:hover
{
	color: #5b5a4f;
}

.subnav ul#tab_group_two {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	border-bottom:1px solid #222;
	height:15px;
	clear:both;
}
.subnav ul#tab_group_two li {
	float:left;
	margin-right:7px;
	text-align:center;
}
.subnav ul#tab_group_two li a {
	display:block;
	line-height:15px;
	height:15px;
	padding:0 4px 0 4px;
	background-color:#000;
	color:#666;
	text-decoration: none;
	font-weight: bold;
}
.subnav ul#tab_group_two li a:hover {
	color:#666;
}
.subnav ul#tab_group_two li a.active {
	background-color:#0d0d0d;
}